<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}        {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link type="text/css" rel="stylesheet" href="../../../styles/navbar.css" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link type="text/css" rel="stylesheet" href="../../../scripts/chosen_js/chosen.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="../../../scripts/chosen_js/chosen.jquery.js"></script>
	<!--Font-Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="../../../styles/css/simple-sidebar.css" rel="stylesheet">
    <link href="../../../styles/css/navbar-search.css" rel="stylesheet">

    {% set otherGuid = 'empty string' %}

</head>
<body>
    <div id="brand" class=" brand brand-desktop">
        <span id="menu-toggle" class="fa fa-navicon p-3" style="color: white; font-size: 2.5em"></span>
        <div class="row align-items-center justify-content-center"><p id="notification" class="col rounded bg-warning text-white  px-1" style="display: none; position: absolute; top: 60px; width: 93%;  z-index: 9999" >Please make suafskdsl;dhf laksh lafshg ksahg lashgl asfhg kfahg lkjafs hglkfhg lkd fh gkzsh gre</p></div>
    </div>
    
    <div id="wrapper">

        <canvas id="background"></canvas>
        <!-- Sidebar -->

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="row ml-2">
                    <form action="javascript:void(0);" class="form-inline mr-auto">
                        <input id="search-bar" class="col-9 form-control" type="text" placeholder="Search" aria-label="Search">
                        <button id="search-button"  onclick="search()" class="col-2 ml-1 btn btn-info" style="height:70%"><p class="text-center"><span class="fa fa-search"></span></p></button>
                    </form>
        
                </li>
                <li id="my-profile_link">
                    <a href="{{ rootDir }}/profile">Profile</a>
                </li>
                <li id="myStats_link">
                    <a href="{{ rootDir }}/stats/view/me">My Stats</a>
                </li>
                <li id="nearbyWP_link">
                    <a href="{{ rootDir }}/WellnessProfessionals/nearby">Nearby Wellness Professionals</a>
                </li>
                <li>
					<a id="viewConversations" href="{{ rootDir }}/conversation/viewconversations">Inbox</a>
				</li>
                {% if app.user is null %}
                    <li id="login_link">
                        <a href="{{ rootDir }}/register">Login</a>
                    </li>
                {% else %}
                    <li id="logout_link">
                        <a href="{{ rootDir }}/authenticate/logout">Logout</a>
                    </li>
                {% endif %}              
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <div id="page-content-wrapper">
            <div class="container-fluid">

                {% block body %}{% endblock %}

					<div id="loading" >
						<img src="../../../img/PineAppleRefresh.gif" class="mx-auto d-block"/>
					</div>
            </div>
        </div>
    </div>


    <!--Message send modal-->
	<div class="modal" id="send-message-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Send a message</h5>
					<button type="button" onclick="$('#message-text-box').val('');" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="recipient-name">Name of recipient</p>
					
					<div class="errorMsg row rounded bg-danger m-3 p-2 text-white" id="msg-error" style="display: none"></div>
					  <textarea class="form-control h-100" maxlength="1500" id="message-text-box"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" id="message-send-button" onclick="sendMessageFromModal()" class="btn btn-primary">Send</button>
					<button type="button" class="btn btn-secondary" onclick="$('#message-text-box').val('');" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
    </div>


    <!--sicc bubble-->
    <script async type="text/javascript" src="../../../scripts/background.js"></script>
    <!-- Menu Toggle Script -->
    <script>

        
    function search() {
        
        var criteria = $('#search-bar').val();

        if (criteria != '') {
            sessionStorage.setItem("criteria", criteria);
            open('../search', '_self');
        }
        
    }


        function getProfileImageHash(guid)
		{
			sum = 0;
            for (var i = 0; i < guid.length; i++) {
				sum = sum + guid.charCodeAt(i);

			}
			sum = sum % 5;
			switch (sum) {
				case 0:
					return 'apple.jpg';
					break;
				case 1:
					return 'banana.jpg';
					break;
				case 2:
					return 'orange.jpg';
					break;
				case 3:
					return 'pear.jpg';
					break;
				case 4:
					return 'plum.jpg';
			}
        }


        //Check size of screen. If desktop, trigger toggled
        $(function(){
            if ($(window).width() < 992) {
                // do something for small screen
                $("#wrapper").removeClass("toggled");
                $("#brand").removeClass("brand-desktop");
                $("#brand").addClass("brand-mobile");
                 $("#brand").removeClass("toggled");
                $("#menu-toggle").show();
            }
            else {
                // do something for big screens
                $("#wrapper").addClass("toggled");
                $("#brand").addClass("brand-desktop");
                $("#brand").removeClass("brand-mobile");
                $("#brand").addClass("toggled");
                $("#menu-toggle").hide();
            }
        });

    $(window).resize(function() {
          if ($(window).width() < 992) {
                // do something for small screen
                $("#wrapper").removeClass("toggled");
                $("#brand").removeClass("brand-desktop");
                $("#brand").addClass("brand-mobile");
        $("#brand").removeClass("toggled");
                $("#menu-toggle").show();
            }
            else {
                // do something for big screens
                $("#wrapper").addClass("toggled");
                $("#brand").addClass("brand-desktop");
                $("#brand").addClass("toggled");
                $("#brand").removeClass("brand-mobile");
                $("#menu-toggle").hide();
            }


        });




    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });


        //Function to make notification disappear
    function makeNotificationDisappear() {
         $('#notification').hide();

                    $('#sidebar-wrapper').css("top", "75px"); 

                     $('#wrapper').css("padding-top","75px");
                       $('.brand').css("height","75px");
    }


        //Function to send a message from the modal

        var recieverGuid = null;
        var senderGuid = null;

    </script>
    {% block javascripts %}{% endblock %}

    <script>
        function sendMessageFromModal() {

            msg = encodeURIComponent($('#message-text-box').val());

            $('#message-text-box').val('');

            json = {
                "sender": senderGuid,
                "receiver": recieverGuid,
                "message": msg
            };

            

            if (msg.length > 0) {
                $('#send-message-modal').modal("hide");
                $.ajax(
                    {
                        url: '../message/send/' + JSON.stringify(json),
                        type: 'GET',
                        dataType: 'json',

                        success: function (jsonResponse) {
                            $('#notification').show();


                            $('#sidebar-wrapper').css("top", "135px");

                            $('#wrapper').css("padding-top", "135px");
                            $('.brand').css("height", "135px");

                            setTimeout(makeNotificationDisappear, 3000);

                            //Deal with the response
                            if (jsonResponse.status == "success") {
                                $("#notification").addClass("bg-warning");
                                $("#notification").removeClass("bg-danger");
                                $('#notification').text("Message successfully sent!");
                                path = $(location).attr('pathname');

                                if (path.substring(path.length - 17) == 'viewconversations') {


                                    loadMore = true;
                                    viewModel.getConvos();


                                }

                            }
                            else {
                                $("#notification").removeClass("bg-warning");
                                $("#notification").addClass("bg-danger");
                                $("#notification").text(jsonResponse.message);
                            }
                        }
                    }

                );
            }
            else {
                        $("#msg-error").show();
                        $("#msg-error").text("Please provide a message.");
                        setTimeout(function () { $("#msg-error").hide(); }, 3000)
            }
        }

            $("#message-text-box").on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('#message-text-box').val($('#message-text-box').val().substring(0, $('#message-text-box').val().length - 1));
            sendMessageFromModal();
        }
        });

    </script>

</body>
</html>
