<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Register!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link type="text/css" rel="stylesheet" href="../../../styles/navbar.css" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>

    <!--Font-Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="../../../styles/css/simple-sidebar.css" rel="stylesheet">

    <script>

        //Check size of screen. If desktop, trigger toggled
        $(function(){
            if ($(window).width() < 992) {
                // do something for small screen
                $(".container-fluid").removeClass("h-100");
                $("#registrationForm").css("height", '810px');
            }
            else {
                // do something for big screens
				$(".container-fluid").addClass("h-100");
                $("#registrationForm").css("height", '675px');
            }
        });

    $(window).resize(function() {
            if ($(window).width() < 992) {
                // do something for small screen
                $(".container-fluid").removeClass("h-100");
                $("#registrationForm").css("height", '810px');
            }
            else {
                // do something for big screens
				$(".container-fluid").addClass("h-100");
                $("#registrationForm").css("height", '675px');
            }
        });




    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function () {

        //This sets a javascript session variable cookie majigger to remember which form you were last looking at
        if (sessionStorage.getItem("FORM_SHOWING") == "REGISTRATION") {
 
            
        
            $("#registrationForm").show();
            $("#loginForm").hide();
            $("#registerBtn").addClass("active");
			   $("#loginBtn").removeClass("active");
        }
        else {
            sessionStorage.setItem("FORM_SHOWING", "LOGIN");
            $("#registrationForm").hide();
            $("#loginForm").show();
            $("#loginBtn").addClass("active");
			   $("#registerBtn").removeClass("active");
        }

		

        $("#loginBtn").click(function () {
            //Set the form to be looking at
            sessionStorage.setItem("FORM_SHOWING", "LOGIN");
			   $("#loginBtn").addClass("active");
			   $("#registerBtn").removeClass("active");
			   $("#registrationForm").hide();
			   $("#loginForm").show();
		});

        $(".invalid-feedback").show();

        $("#registerBtn").click(function () {
            //Set the form to be looking at
            sessionStorage.setItem("FORM_SHOWING", "REGISTRATION");
            $("#user_wellnessPro_pracName").prop("required", true);
			   $("#registerBtn").addClass("active");
			   $("#loginBtn").removeClass("active");
			   $("#loginForm").hide();
			   $("#registrationForm").show();

        });

        //Check to see if the user has gotten to the page with the login action
        if ($("#loginForm > form").attr('action') == "login") {
            //Make a div that takes up the entire screen to cover the form while re-submitting the login form
			$('body').prepend('<div class="w-100 h-100" style="position:fixed; top: 0; left: 0; z-index: 99; background-color:lightgreen;"></div>');
            //Set the bubbles to the forefront
			$('#background').css("position", "fixed");
			$('#background').css("z-index", "100");
            //Add the loading pineapple gif
			$('body').prepend('<img src="../../../img/PineAppleRefresh.gif" class="mx-auto" style="position:fixed; z-index:101; margin: 15% auto;left: 0;right: 0;"/>');
            //Re-submit the form
            $("#loginForm > form").submit();
        }

        if ($('#user_isWellPro').prop('checked')) {
            $('#wellness-hidden').addClass('show');
            $("#user_wellnessPro_practiceName").prop("required", true);
        }
        else {
            $('#wellness-hidden').removeClass('show');
            $("#user_wellnessPro_practiceName").prop("required", false);
        }


	});
    </script>
</head>
<body style="height:100%">

    <canvas id="background"></canvas>
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            {# Desktop splash logo and people #}
            <div class="d-none d-lg-block col-lg-6 offset-lg-1">
                <img src="../../../img/refresh-blk-desktop.png" id="desktop_logo" class="w-50" />
                <img src="../../../img/people-banner.png" id="splash_image" class="w-100" />

            </div>
            <div id="registrationHolder" class="col-lg-3">
                <div class="d-lg-none d-block">
                    <img src="../../../img/refresh-blk-mobile.png" id="mobile_logo" class="w-75 col-sm-8 offset-sm-2" />
                </div>
                <div class="rounded bg-light p-3">
                    <div id="LoginHolder" class="btn-group row w-100 m-0" role="group">
                        <button id="loginBtn" type="button" class="btn btn-secondary col-sm-6 col-xs-6 active">Login </button>
                        <button id="registerBtn" type="button" class="btn btn-secondary col-sm-6 col-xs-6">Register </button>
                    </div>
                    <div id="registrationForm" style="height: 675px; overflow-y:auto; overflow-x:hidden">
                        <!-- Registration Form -->
                        {% form_theme registrationForm '/form/bootstrap_layout.html.twig' %}
                        {{ form_start(registrationForm) }}
                        <legend>Register!</legend>
                        {{ form_row(registrationForm.email) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(registrationForm.plainPassword.first) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(registrationForm.plainPassword.second) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                        </div>
                        {{ form_row(registrationForm.birthDate) }}

                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(registrationForm.city) }}
                            </div>
                            <div class="col-lg-6">

                                {{ form_row(registrationForm.country) }}
                            </div>
                        </div>
                        {{ form_row(registrationForm.isWellPro) }}
                        <div id="wellness-hidden" class="collapse">
                        {{ form_row(registrationForm.wellnessPro) }}
                            </div>
                        {{ form_row(registrationForm.termsAccepted) }}
                        <button type="submit" id="register" class="btn btn-info w-100">Register!</button>
                        {{ form_end(registrationForm) }}
                    </div>
                    <div id="loginForm" style="height: 675px">
                        <!-- Login Form -->
                        {% form_theme loginForm '/form/bootstrap_layout.html.twig' %}
                        {{ form_start(loginForm) }}
                        <legend>Login!</legend>
                        <!--Change the name to match the ones symfony security want-->
                        {{ form_row(loginForm._username) }}
                        <!--Change the name to match the ones symfony security want-->
                        {{ form_row(loginForm._password) }}
                        <input type="hidden" name="_target_path" value="/profile/" />
                        <button name="login" type="submit" class="btn btn-info w-100">Login!</button>
                        {{ form_end(loginForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script async type="text/javascript" src="../../../scripts/background.js"></script>
    <script>
        //Checks if the wellness pro checkbox is selected and if so makes the practice name field required
    $('#user_isWellPro').change(function() {
        if(this.checked) {
            $("#user_wellnessPro_practiceName").prop("required", true);
        }
        else
        {
            $("#user_wellnessPro_practiceName").prop("required", false);
        }

    });
    </script>
</body>
</html>
